{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
    {% trans 'Feedback Received' %}
{% endblock %}


{% block content %}
    <div class="profile-update">
        <div class="content c-detail">
            <div class="block-detail" style="height: fit-content;">
                <div class="post-profile">


                    <h2> {% trans 'Feedback Received' %}</h2>


                </div>
                <div class="post-content" style="height: fit-content;border-bottom: none;text-align: center;">
                    
                    <h2>&#x2714; {% trans "Your Message Received!" %}</h2>

                    <h4>{% trans "Thanks For Your Feedback" %}</h4>
                    <h5>{% trans "We will get back to you as soon as possible" %}</h5>
                    <a href="{% url 'index' %}" style="text-decoration: none">
                        <span class="subheading btn btn-success btn-lg" style="width: fit-content;margin:0 auto;">
                            {% trans "Home" %}
                        </span>
                    </a>

                </div>


            </div>
        </div>


    </div>

{% endblock %}
