{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
    {% trans "Password Reset" %}
{% endblock %}


{% block content %}
    <div class="profile-update">
        <div class="content c-detail">
            <div class="block-detail" style="   height: fit-content;">
                <div class="post-profile">


                    <h2> {% trans 'Password Reset' %}</h2>


                </div>
                <div class="post-content" style="height: fit-content;border-bottom: none;text-align: center">
                    {% if validlink %}

                        <p>
                            {% trans 'Please Enter Your New Password Twice.' %}
                        </p>

                             {% crispy form %}

                    {% else %}

                        <div class="alert alert-danger">
                            {% trans 'This Link Is Invalid, Probably Used Before.' %}
                        </div>

                    {% endif %}

                </div>


            </div>
        </div>


    </div>

{% endblock %}



