{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
    {% trans "Password Reset" %}
{% endblock %}


{% block content %}
    <div class="profile-update">
        <div class="content c-detail">
            <div class="block-detail" style="   height: fit-content;">
                <div class="post-profile">


                    <h2> {% trans 'Password Reset' %}</h2>


                </div>
                <div class="post-content" style="height: fit-content;border-bottom: none;text-align: center">
                    <p>
                        {% trans "We have sent a series of instructions for renewal to your e-mail address you used while registering." %}

                    </p>
                    <p>
                        {% trans 'Please Check Your Mailbox.' %}

                    </p>

                    <p>
                        {% trans "If you have not received mail, please make sure that you enter the address that you entered while registering or check your spam folder." %}

                    </p>


                </div>


            </div>
        </div>


    </div>

{% endblock %}






