{% extends "base.html" %}
{% load static %}

{% block title %}
    Makale Silme
{% endblock %}


{% block style %}

{% endblock %}

{% block content %}


    <form action="" method="post" class="mb-20">
        {% csrf_token %}
        <p class="alert alert-danger text-center">Bu Makaleyi Silmek İstediğinize Emin misiniz ?</p>
        <div style="text-align: center">
            <button type="submit" class="btn btn-primary radius">SİL</button>
            <a href="{% url 'article_detail' object.slug %}" class="btn btn-danger radius">İPTAL</a>
        </div>
    </form>


{% endblock %}