{% extends "base.html" %}
{% load static %}
{% load hitcount_tags %}
{% load i18n %}

{% block title %}
    {% if request.user.is_authenticated %}{% trans "Subscriptions" %}{% else %}{% trans "All Journals" %}{% endif %}
{% endblock %}

{% block ust_icerik %}
    <script type="text/javascript" rel="script">
        $(document).ready(function () {
            $(".journal-follow-field").on("click", ".subscribe-journal", function (e) {
                e.preventDefault();
                var $this = $(this);
                var $url = $this.attr("href");
                $.ajax({
                    url: $url,
                    method: "GET",
                    data: {},
                    success: function (data) {
                        var response = data.status;
                        var count = data.count;
                        var $i = $this.find(".follow-hand");
                        if (response === "added") {
                            $i.addClass("fav-active");
                            $i.removeClass("fav-deactive");
                            $i.html("{% trans 'Unsubscribe' %}")
                        } else {
                            $i.removeClass("fav-active");
                            $i.addClass("fav-deactive");
                            $i.html("{% trans 'Subscribe' %}")
                        }

                        $this.closest("div").find(".subscription-count").html(count)
                    }
                })
            }).on("click", ".subscribe-btn", function (e) {
                e.preventDefault();
                var $this = $(this);
                var $url = $this.attr("url");
                var $modal = $("#follow_modal");
                $.ajax({
                    url: $url,
                    method: "GET",
                    dataType: "json",
                    beforeSend: function () {
                        $modal.modal("show");
                    },
                    success: function (data) {
                        $modal.find(".follow_body").html(data.html)
                    }

                })
            });
        });

    </script>
{% endblock %}

{% block content %}

    {% include "journalApp/include/follower_dergi_modal.html" %}

    <h4 style="text-align: center;margin:0 auto 20px auto;color:black" class="alert alert-info">
        {% if request.user.is_authenticated %}
            {% trans "Subscriptions" %}
        {% else %}
            {% trans "All Journals" %}
        {% endif %}
    </h4>

    <div class="container">

        <form action="" method="get" style="width: fit-content;margin: 0 auto">
            <div class="input-group text-center">
                <div class="form-outline">
                    <input type="search" id="form1" class="form-control" name="search"
                           style="font-size: 1.5rem"
                           placeholder="Ne Aramıştın?" {% if request.GET.search %}
                           value="{{ request.GET.search }}" {% endif %}
                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ara'"/>
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>

    {% if request.GET.search %}
        <div style="text-align: center;margin: 10px 0 10px 0">
            <span class="subheading">
                {% if allcounter == 0 %}
                    <a class="btn btn-dark" href="{% url 'article_create' %}">'{{ request.GET.search }}' ile ilgili sonuç yok. Lütfen Bu Konuda Sen Yaz!</a>
                {% else %}
                    '{{ request.GET.search }}' ile ilişkili {{ allcounter }} sonuç
                {% endif %}
            </span>
        </div>
    {% endif %}

    <div class="content">

        {% for post in journalList %}
            <div class="block" style="position:relative;">
                <div class="post-profile">
                    <div>
                        <a href="{% url 'accounts:user-profile' post.journal_editor.username %}"
                           style="text-decoration:none">
                            <div style="font-size: 0.9rem;text-align:left;width: 100%">
                                {% if post.journal_editor.userprofile.get_profile_photo %}
                                    <div style="display:inline;vertical-align:middle">
                                        <img src="{{ post.journal_editor.userprofile.get_profile_photo }}"
                                             alt="user"
                                             style="width:30px;height:30px;clip-path: circle();object-fit: cover">
                                    </div>
                                {% endif %}
                                <div style="display:inline-block;vertical-align:middle;margin-left: 3px">
                                    <span style="text-align:left;font-size:14px"
                                          class="post-meta">
                                        {{ post.journal_editor }}
                                    </span><br>
                                    <span>{{ post.created|timesince }} {% trans "ago" %}</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    {% if post.journal_name in requestable and post.get_requesting_status == "open" %}

                        <div class="requesting">

                            <a href="{% url 'authorship-request' post.slug %}">{% trans "Be Author" %}</a>

                        </div>
                    {% endif %}
                </div>

                <div class="post-content">

                    {% if post.journal_image %}
                        <div style="padding:0;text-align: center">
                            <a href="{% url 'journal_detail' post.slug %}" style="cursor: pointer">

                                <img style="width:100%;max-height:180px;border-radius: 2px;object-fit:cover;object-position: 50% 50%;"
                                     src="{{ post.journal_image.url }}" alt="">
                            </a>
                        </div>
                    {% endif %}

                    <div>
                        <a href="{% url 'journal_detail' post.slug %}" style="cursor: pointer">
                            <div class="post-title text-center"
                                 style="{% if post.journal_image %} height: 100px {% else %} height:280px {% endif %}">
                        <span style="font-weight:bolder;font-size:2rem;" class="text-wht">
                            {{ post.journal_name|safe|truncatechars:45 }}
                        </span>
                            </div>
                        </a>
                    </div>


                    <div style="display: flex;flex-direction:row;justify-content: space-between;align-items: center">
                        <div>
                            <a href="{% url 'journal_category_detail' post.category.slug %}">
                                <div class="classification">
                                    {{ post.category }}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="post-footer">
                    <div class="journal-follow-field">
                        <a class="subscribe-journal" style="width:fit-content"
                           href="{% url 'journal_follow' post.slug %}">
                            <span class="follow-hand {% if request.user.username in post.get_added_follower_user %} fav-active {% else %} fav-deactive {% endif %}">
                                {% if request.user.username in post.get_added_follower_user %}
                                    Abonelikten Çık
                                {% else %}
                                    Abone Ol
                                {% endif %}
                            </span>
                        </a>
                        <span url="{% url 'journal_follow_user' post.slug %}" class="btn subscribe-btn"
                              style="padding:3px 5px;background:#328ae7;border-color:#328ae7;border-radius:8px;color:#ffffff;font-size: 1.1rem;font-weight: 500;letter-spacing:1px">
                            <span class="subscription-count">{{ post.get_journal_follow_count }}</span> {% trans "Subscriber" %}
                        </span>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
    {% if journalList.has_other_pages %}
        <div style="text-align:center;width: fit-content;margin: 0 auto 20px auto">
            <nav class="navigation">
                <ul class="pagination">
                    {% if journalList.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">1</a>
                        </li>
                        {% if journalList.previous_page_number != 1 %}
                            <li class="page-item">
                                <a style="color:black" class="page-link" href="?page=

                                        {{ journalList.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"><i
                                        class="fas fa-caret-left"></i><i class="fas fa-caret-left"></i></a>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li class="page-item active">
                        <a class="page-link" style="cursor:pointer">
                            {% if journalList.number == 1 %}
                                1
                            {% elif journalList.number == journalList.paginator.num_pages %}
                                {{ journalList.paginator.num_pages }}
                            {% else %}
                                {{ journalList.number }}
                            {% endif %}
                        </a>
                    </li>
                    {% if journalList.has_next %}
                        {% if journalList.number|add:1 < journalList.paginator.num_pages and journalList.next_page_number != journalList.paginator.num_pages %}
                            <li class="page-item">
                                <a style="color:black" class="page-link" href="?page=

                                        {{ journalList.number|add:1 }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"><i
                                        class="fas fa-caret-right"></i><i
                                        class="fas fa-caret-right"></i></a>
                            </li>
                        {% endif %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page=

                                       {{ journalList.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ journalList.paginator.num_pages }}</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}

{% endblock %}
